services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - custom_net

  dashboard:
    build: .
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8050:8050"
    environment:
      DB_HOST: db
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_PORT: 5432
    volumes:
      - modelo:/app/modelo
    working_dir: /app
    command: python dashboard/app.py
    networks:
      - custom_net

  scheduler:
    build: .
    profiles: ["scheduler"]
    restart: "no"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_PORT: 5432
    volumes:
      - modelo:/app/modelo
      - backups:/app/backups
    working_dir: /app
    command: python executar_tarefas_diarias.py
    networks:
      - custom_net

volumes:
  postgres_data:
  modelo:
  backups:

networks:
  custom_net:
    driver: bridge
